{% extends "layouts_new/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block main_content %}
<section class="container m-t-lg">
  <h1 class="text-center m-t-md m-b-md">Forgot your password?</h1>

  <div class="row">
    <div class="col-sm-8 col-md-6 col-lg-6 col-sm-offset-2 col-md-offset-3 col-lg-offset-3">
      <p>If you forgot your password, please enter the email address associated with your account to reset your password.</p>

      <form method="post">{% csrf_token %}
        {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
        {% csrf_token %}
        
        {% bootstrap_form_errors form %}

        <div class="form-group">
            <input name="{{ form.email.html_name }}" type="text" placeholder="{{ form.email.label }}" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">{% trans 'Send reset email' %}</button>
      </form>

      <ul class="list-unstyled text-center m-t-md">
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'confirmation' %}">Didn't receive confirmation instructions?</a></li>
      </ul>
    </div>
  </div>

</section>
{% endblock %}






