<footer class="footer">
    <div class="main-content">
        <section class="fineprint">
            {% if is_client %}
                <div class="powered-by" style="display: block;     text-align: center;     margin: 45px auto 5px;">Powered by</div>
            {% endif %}
            <figure class="betterment-logo"></figure>
            <figcaption>&copy; BetaSmartz Pty Ltd </figcaption>
            <p class="pad">By initiating transactions in your BetaSmartz account you agree to BetaSmartz's Terms & Conditions.</p>
            <p><strong>This website is operated and maintained by BetaSmartz Pty Ltd, AFSL No. 888888.</strong></p>
            <p>Brokerage services provided to clients of BetaSmartz by Interactive Brokers LLC, AFSL 245574.</p>
            <p class="pad">Investments: Not Insured  &bull; No Bank Guarantee  &bull; May Lose Value. Investing in securities involves risks, and the income derived from them can go down as well as up. Past performance is not a reliable indicator of future returns and you may not get back your original investment, all investment outcomes being hypothetical in nature. Before investing, consider your investment objectives and BetaSmartz's charges and expenses. See full disclosures for more information. Not an offer, solicitation of an offer, or advice to buy or sell securities in jurisdictions where BetaSmartz is not registered.</p>
            <p>BetaSmartz is a trademark of BetaSmartz Pty Ltd.</p>

        </section>
            </div>

    </footer>