{% load static from staticfiles %}
<header class="top-bar">
    <div class="main-content">
        <div class="logo">
            <img alt="BetaSmartz Institutional" height="49" src="{% static 'images/white_logo.png' %}" width="217">
        </div>
        {% if is_advisor_view  or is_legal_view or is_supervisor_view%}
            <div class="user-links">
                <div class="user-welcome">
                    <span>Welcome, <span class="user-first-name">{{ profile.first_name }}</span></span>
                </div>

                <div class="user-menu">
                    <ul>
                        <li><a class="logout"  href="/firm/logout" rel="nofollow">Log out</a></li>
                    </ul>
                </div>
             </div>
        {% endif %}


    </div>

</header>