BetaSmartz agrees to allow you, the Adviser to access and use BetaSmartz Online pursuant to the terms and conditions below. By completing this online application and

acknowledging these terms and conditions, the Adviser accepts the terms and conditions set out below. Capitalised terms are defined at the end of these terms and

conditions.

Use of BetaSmartz websites [larger font size]

<b>General</b>
1. The Adviser wishes to be registered for the purpose of using BetaSmartz.
2. Where the Adviser is an authorised Adviser of an AFSL holder, the Adviser warrants that the terms of its appointment as an authorised Adviser authorises it to

perform the applicable financial services related to the dealing in or advising on the BetaSmartz services.
3. Where the Adviser is not an authorised Adviser of an AFSL holder, the Adviser warrants that its services do not constitute the provision of financial product

advice, dealing or any other service requiring it to hold an AFSL.
4. On acceptance of this completed registration, BetaSmartz agrees to register the Adviser for BetaSmartz, subject to any access limitations set out in this

registration. The Adviser’s right to use BetaSmartz is personal to the Adviser, and cannot be assigned or transferred without BetaSmartz’s written consent.
5. The Adviser is taken to accept these terms and conditions each time they access BetaSmartz.
6. BetaSmartz agrees to operate BetaSmartz in accordance with Applicable Laws.
7. The Adviser acknowledges that it is not, except to the extent expressly agreed in writing, acting as BetaSmartz’s agent, and agrees that it must not hold itself out

as BetaSmartz’s agent.
8. BetaSmartz is not responsible for the actions of the Adviser acting either within or outside of its legal authority.

<b>Security and privacy</b>
1. The Adviser must: A. if and to the extent applicable comply with Applicable Laws in relation to any dealing in or advising on the BetaSmartz Services
B. only use BetaSmartz for proper purposes associated with Clients and only to the extent permitted by their unrevoked authority
C. keep secure any BetaSmartz Access Codes and Client information by employing appropriate physical security measures and by using appropriate technology security

systems (eg fire walls and anti-virus, anti-spyware software)
D. comply with any security instructions issued by BetaSmartz in relation to the BetaSmartz Access Codes
E. not share any codes or passwords relating to BetaSmartz
F. not interfere with or damage (or attempt to interfere with or damage) any code, data or software associated with BetaSmartz
G. comply with its obligations under the Privacy Act 1988 with regard to any information or Client data or other data stored on or obtained via BetaSmartz
H. not do anything with the personal information that will cause BetaSmartz to breach its obligations under the Privacy Act 1988
I. unless BetaSmartz receives prior notice to the contrary, BetaSmartz will be entitled to: • rely on any instructions it receives through BetaSmartz via the BetaSmartz Access Codes issued to the Company or its Advisers
• assume that for any transaction effected via BetaSmartz, the Company or Adviser has the appropriate authority
J. not copy, assign, pass off the BetaSmartz services as those of the Adviser, seek to reverse engineer the BetaSmartz services or otherwise infringe upon the

intellectual property rights of BetaSmartz
2. BetaSmartz may suspend or close accounts or impose additional data security requirements on the Adviser, or terminate the relationship with the Adviser where

BetaSmartz believes that there has been unauthorised access to Client data.

<b>Availability</b>
BetaSmartz will use reasonable efforts to provide (but does not warrant that it will provide):
1. access to BetaSmartz at all reasonable times, and
2. reliable data and information, to the extent that it is within its reasonable control. BetaSmartz takes no responsibility for the reliability of information outside

its control.

<b>Exclusions</b>
Subject to conditions and warranties implied by legislation, BetaSmartz excludes: 1. liability for any delay, interruption or unavailability of BetaSmartz and for any inaccuracy or incompleteness of data provided by any person and available on

BetaSmartz, and
2. all terms implied by statute, general law or custom except ones that may not be excluded.
If BetaSmartz breaches any condition or warranty implied by legislation into a contract with a consumer, BetaSmartz limits its liability for that breach to a resupply

of the goods or services in respect of which the breach occurred.
For the avoidance of doubt, BetaSmartz excludes any liability whatsoever for consequential or indirect losses, including where such losses arise as a consequence of

suspension or revocation of access to BetaSmartz websites by BetaSmartz.

<b>Notice of changes to these terms and conditions</b>
BetaSmartz reserves the right to change any of these terms or conditions at any time by updating the terms and conditions on its website. BetaSmartz will use

reasonable endeavours to notify you of important changes and when they come into effect.

<b>Termination</b>
The Adviser’s registration, continues until the first to occur of: 1. BetaSmartz revokes the Adviser’s access to BetaSmartz websites, which it may do at any time, for any reason (including for the avoidance of doubt, where BetaSmartz

reasonably believes that the Company’s security systems are inadequate, where the relationship between the parties is no longer commercial or where the Company has

otherwise breached these terms)
2. BetaSmartz receiving notice to the effect that the Adviser no longer requires registration for BetaSmartz websites, or
3. in the event that the Company’s AFSL or the Adviser’s authorised Adviser appointment is revoked or cancelled (if applicable). For the avoidance of doubt, BetaSmartz

may also suspend or revoke the access of one or more Advisers of the Company by giving notice to that effect.

<b>BetaSmartz Access Codes</b>
On acceptance of this registration form, BetaSmartz will set up the Adviser with access to BetaSmartz websites, and you will be issued with BetaSmartz Access Code(s).
On completion and acceptance of the this registration, BetaSmartz Access Codes will be issued to those Advisers. BetaSmartz Access Codes are personal to the person set

out on this form, and must not be shared or transferred.
Where BetaSmartz is informed that a Adviser is leaving the Company, BetaSmartz will ensure the BetaSmartz Access Code registered to that Adviser is no longer linked to

information or accounts associated with the Company. Once BetaSmartz is informed that the Adviser has joined a new Company, that Adviser’s BetaSmartz Access Code will

be linked to information and accounts associated with that new Company if that new Company is already registered with BetaSmartz.

<b>Intellectual property</b>
1. Anything associated with or available through BetaSmartz websites belongs to BetaSmartz or other third persons and is protected by intellectual property rights. The

Adviser agrees not to access, download or otherwise use such property other than as expressly permitted by these conditions, and will be responsible, and indemnify

BetaSmartz accordingly, for any unauthorised use of such property.
2. The Adviser may not use BetaSmartz’s name or logo for marketing purposes without BetaSmartz’s express written consent.

<b>Anti-Money Laundering and Counter-Terrorism Financing</b>
The Adviser must: 1. not knowingly do anything to put BetaSmartz in breach of the AntiMoney Laundering and Counter-Terrorism Financing Act 2006, rules and other subordinate instruments

(AML/CTF Laws)
2. notify BetaSmartz if it becomes aware of anything that would put BetaSmartz in breach of AML/CTF Laws
3. if requested provide additional information and assistance and comply with all reasonable requests to facilitate BetaSmartz’s compliance.

<b>Use of technology</b>
By accessing BetaSmartz websites via your mobile device, you do so on the following additional terms of use: 1. not all the functionality of the BetaSmartz websites is available in the mobile device version of those sites (the Mobile Sites)
2. not all mobile devices operate in the same manner, and accordingly, some of the functionality included in the Mobile Sites may not be available on your mobile

device
3. we do not charge you for use of the Mobile Sites, but you remain responsible for any data charges which you incur from your mobile device provider or internet

service provider through which you access the Mobile Sites
4. the Mobile Sites optionally includes a feature which recalls your BetaSmartz Access Code, but not your password. For security reasons the first four characters of

your BetaSmartz Access Code will be masked from view
5. you may be able to access product or service specific sites through the Mobile Site. If so, those sites might have their own operating terms or conditions of use
6. via links on each page of the Mobile Sites you can access other important information relevant to the Mobile Sites
7. from time to time we will update these terms of use. Where we do so we will endeavour to make these changes obvious to you and we will ask you to acknowledge your

acceptance of them
8. by using and continuing to use the Mobile Sites you acknowledge and accept these: A. Terms of Use, and
B. the Important Information – which includes our Privacy Policy, Fraudulent Email Statement and other important technical information as amended from time to time.

Definitions [larget font size]
AFSL – means an Australian Financial Services Licence.
Applicable Laws – means the laws which apply to the issue, distribution and operation of the BetaSmartz Services by BetaSmartz
and which relate to the arranging of the BetaSmartz Products, including relevant ASIC policy and laws relating to privacy and to antimoney laundering and counter-

terrorism financing.
BetaSmartz – means BetaSmartz Pty Limited ABN * AFSL .
BetaSmartz Access Codes – means any codes issued by BetaSmartz including the BetaSmartz Access Code (BAC), user identifications, passwords and PINs and any

authorisations for any of the BetaSmartz websites services.
BetaSmartz Services – means, various products and services as issued or offered by BetaSmartz available through the BetaSmartz websites services and which expressly

include robo-advice and online portfolio management.
Client – means a person who uses or is likely to use a BetaSmartz Service and is or will be recorded as a Client of the Company as a result of the application or a

subsequent instruction to that effect by the Client.
Company – means a Partnership, Dealer, Dealer Group or Company that acts on a Client’s behalf in respect of investments in the BetaSmartz Services.
We, us, our – means BetaSmartz.
You, your, yours – means the Company