<script>
  $(function() {
    var doughnutChartAElem = document.getElementById('doughnutChartA');
    var doughnutChartBElem = document.getElementById('doughnutChartB');
    var doughnutChartCElem = document.getElementById('doughnutChartC');
    var doughnutChartDElem = document.getElementById('doughnutChartD');

    // positions_by_asset_class
    {% with items=positions.asset_class|dictsortreversed:'value' %}
      var labels = [{% for item in items %}'{{ item.name }}',{% endfor %}];
      var values = [{% for item in items %}'{{ item.value|floatformat:0 }}',{% endfor %}];
      var backgroundColors = [{% for item in items %}'{{ item.color }}',{% endfor %}];
    {% endwith %}
    var doughnutChartA = new Chart(doughnutChartAElem, App.doughnutChartConfig(labels, values, backgroundColors));

    // positions_by_region
    {% with items=positions.region|dictsortreversed:'value' %}
      var labels = [{% for item in items %}'{{ item.name }}',{% endfor %}];
      var values = [{% for item in items %}'{{ item.value|floatformat:0 }}',{% endfor %}];
      var backgroundColors = [{% for item in items %}randomColor({seed: {{ forloop.counter }} * 4083, luminosity: 'light', format: 'rgb'}),{% endfor %}];
    {% endwith %}
    var doughnutChartB = new Chart(doughnutChartBElem, App.doughnutChartConfig(labels, values, backgroundColors));

    // positions_by_investment_type
    {% with items=positions.investment_type|dictsortreversed:'value' %}
      var labels = [{% for item in items %}'{{ item.name }}',{% endfor %}];
      var values = [{% for item in items %}'{{ item.value|floatformat:0 }}',{% endfor %}];
      var backgroundColors = [{% for item in items %}randomColor({seed: {{ forloop.counter }} * 1059, luminosity: 'dark', format: 'rgb'}),{% endfor %}];
    {% endwith %}
    var doughnutChartC = new Chart(doughnutChartCElem, App.doughnutChartConfig(labels, values, backgroundColors));

    // positions_by_allocation
    {% with items=positions.allocation|dictsortreversed:'value' %}
      var labels = [{% for item in items %}'{{ item.name }}',{% endfor %}];
      var values = [{% for item in items %}'{{ item.value|floatformat:0 }}',{% endfor %}];
      var backgroundColors = [{% for item in items %}randomColor({seed: {{ forloop.counter }} * 1059, luminosity: 'dark', format: 'rgb'}),{% endfor %}];
    {% endwith %}
    var doughnutChartD = new Chart(doughnutChartDElem, App.doughnutChartConfig(labels, values, backgroundColors));
  });
</script>