<script>
  $(function() {
    // worth (aka "net worth and cashflow") chart
    var datasets = [
      {
        label: 'Average net worth',
        data: [{% for item in worth %}{x: {{ item.age }}, y: {{ item.value_worth }}},{% endfor %}],
      },
      {
        label: 'Cashflow',
        data: [{% for item in worth %}{x: {{ item.age }}, y: {{ item.value_cashflow }}},{% endfor %}],
      }
    ];

    var lineChartAElem = document.getElementById('lineChartA');
    var lineChartA = new Chart(lineChartAElem, App.worthLineChartConfig(datasets));
  });
</script>