<script>
  $(function() {
    // events (aka "change point analysis") chart
    var datasets = [
      {% for item in events %}
        {% if item.age >= 70 %}
          {
            label: '{{ item.category }}',
            data: [{x: 70, y: {{ item.value }}}],
          },
        {% else %}
          {
            label: '{{ item.category }}',
            data: [{x: {{ item.age }}, y: {{ item.value }}}],
          },
        {% endif %}
      {% endfor %}
    ];

    var lineChartBElem = document.getElementById('lineChartB');
    var lineChartB = new Chart(lineChartBElem, App.eventsLineChartConfig(datasets));
  });
</script>