{% load filters %}

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{ object.user.get_full_name }}</h4>
</div>
<div class="modal-body modal-body-scroller">
  <div class="row m-t">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Personal information</div>
        <table class="table">
          <tbody>
            <tr>
              <td>Member since</td>
              <td>{{ object.user.date_joined|date:'d/m/y' }}</td>
            </tr>
            <tr>
              <td>Date of birth</td>
              <td>{{ object.date_of_birth|date:'d/m/Y' }}</td>
            </tr>
            <tr>
              <td>Age</td>
              <td>{{ object.age }}</td>
            </tr>
            <tr>
              <td>Phone</td>
              <td>{{ object.phone_num }}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{ object.user.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Employment and income</div>
        <table class="table">
          <tbody>
            <tr>
              <td>Employment status</td>
              <td>{{ object.get_employment_status_display|default:'-' }}</td>
            </tr>
            <tr>
              <td>Occupation</td>
              <td>{{ object.occupation|default:'-' }}</td>
            </tr>
            <tr>
              <td>Employer</td>
              <td>{{ object.employer|default:'-' }}</td>
            </tr>
            <tr>
              <td>Annual income</td>
              <td>{{ object.income|currency }}</td>
            </tr>
            <tr>
              <td>Liquid net worth</td>
              <td>{{ object.net_worth|currency }}</td>
            </tr>
            <tr>
              <td>Net worth</td>
              <td>Mass affluent ???</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Acivity</div>
        <table class="table">
          <tbody>
            <tr>
              <td>Platform usage</td>
              <td>Frequent ???</td>
            </tr>
            <tr>
              <td>Average usage time</td>
              <td>1hr ???</td>
            </tr>
            <tr>
              <td>Average time of day</td>
              <td>9am ???</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Charts -->
  <div>
    <div>
      <canvas id="lineChartA" width="300" height="100"></canvas>
    </div>

    <div class="m-t-md">
      <h5>Segments</h5>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td width="33.3%" class="text-center">
              <canvas id="doughnutChartA" width="100" height="100"></canvas>
              <div>
                Asset&nbsp;Class&nbsp;<span class="icon icon-help-with-circle text-muted" data-toggle="tooltip" data-placement="right" title="Fill me with your feelings"></span>
              </div>
            </td>
            <td width="33.3%" class="text-center">
              <canvas id="doughnutChartB" width="100" height="100"></canvas>
              <div>
                Region&nbsp;<span class="icon icon-help-with-circle text-muted" data-toggle="tooltip" data-placement="right" title="Fill me with your feelings"></span>
              </div>
            </td>
            <td width="33.3%" class="text-center">
              <canvas id="doughnutChartC" width="100" height="100"></canvas>
              <div>
                Type&nbsp;<span class="icon icon-help-with-circle text-muted" data-toggle="tooltip" data-placement="right" title="Fill me with your feelings"></span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="m-t-md">
      <h5>Change point analysis</h5>
      <canvas id="lineChartB" width="300" height="100"></canvas>
    </div>
  </div>

</div><!-- /modal-body -->

{% include "firm/partials/chart-worth.html" %}
{% include "firm/partials/chart-events.html" %}
{% include "firm/partials/chart-trinity.html" %}
