<!-- Chart Modal -->
<div tabindex="-1" class="modal fade chartModal" id="chartModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <canvas id="sunburst_chart"></canvas>
            </div>
        <div class="modal-footer">
            <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
            <button class="btn btn-link pull-right" data-dismiss="modal">Back <i class="fa fa-chevron-right"></i></button>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
