{% extends "layouts_new/base.html" %}

{% load i18n filters %}

{% block main_content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div>
          {% include "advisor/partials/menu-clients.html" %}
        </div>
      </div>
      <div class="col-sm-3 text-sm-right">
        <div class="form-group">
          <a class="btn btn-primary-outline" href="{% url 'advisor:clients:invites-new' %}">Invite client</a>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Email</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Reason</th>
              <th>Status</th>
              <th>Last sent</th>
              <th>Send count</th>
              <th class="text-xs-right">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for invite in invites %}
            <tr>
              <td><a href="mailto:{{ invite.email }}">{{ invite.email }}</a></td>
              <td>{{ invite.first_name }}</td>
              <td>{{ invite.last_name }}</td>
              <td>{{ invite.get_reason_display|default:"&mdash;" }}</td>
              <td>{{ invite.get_status_display }}</td>
              <td title="{{ invite.last_sent_at|default:"" }}">{{ invite.last_sent_at|date:'d/m/y'|default:"Never sent" }}</td>
              <td>{{ invite.send_count }}</td>
              <td class="text-xs-right">
                {% if invite.can_resend %}
                  <form method="post" action="{% url "advisors:clients:invites-resend" invite.id %}" style='display:inline-block;'>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary-outline btn-xs">Resend</button>
                  </form>
                {% else %}
                    {{ invite.get_status_name }}
                {% endif %}
		{% if invite.status == 2 %} {%comment%} 2 - Accepted, we want user then to confirm  {%endcomment%}
		 <form method="get" action="{% url "advisors:clients:delete" invite.id %}" style='display:inline-block'> 
		{% else %}
		 <form method="post" action="{% url "advisors:clients:delete" invite.id %}" style='display:inline-block;'>
		   {% csrf_token %}
		{% endif %}
		   <button type="submit" class="btn btn-primary-outline btn-xs">Delete</button>
		</form>
              </td>
            </tr>
            {% empty %}
              <tr>
                <td colspan="8" class="text-center">
                  No entries
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>
{% endblock %}
