<html>
  <head>
    <title>Test Plaid Link</title>
  </head>
  <body>
    <button id='linkButton'>Open Link - Institution Select</button>
    <button id='bofaButton'>Open Link - Bank of America</button>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script>
    var linkHandler = Plaid.create({
      selectAccount: true,
      env: 'sandbox',
      clientName: 'Test Client',
      key: "{{ PLAID_PUBLIC_KEY }}",
      product: ['auth'],
      onLoad: function() {
        // The Link module finished loading.
      },
      onSuccess: function(public_token, metadata) {
        // The onSuccess function is called when the user has successfully
        // authenticated and selected an account to use.
        //
        // When called, you will send the public_token and the selected
        // account ID, metadata.account_id, to your backend app server.
        //
        // sendDataToBackendServer({
        //   public_token: public_token,
        //   account_id: metadata.account_id
        // });
        var data = {
          public_token: public_token,
          account_id: metadata.account_id
        }
        $.post({
          url: "/api/v1/payments",
          data: data
        })
        console.log('Public Token: ' + public_token);
        console.log('Customer-selected account ID: ' + metadata.account_id);
      },
      onExit: function(err, metadata) {
        // The user exited the Link flow.
        if (err != null) {
          // The user encountered a Plaid API error prior to exiting.
          console.log(err)
        }
        // metadata contains information about the institution
        // that the user selected and the most recent API request IDs.
        // Storing this information can be helpful for support.
      },
    });

    // Trigger the Bank of America login view directly
    document.getElementById('bofaButton').onclick = function() {
      linkHandler.open('ins_1');
    };

    // Trigger the standard Institution Select view
    document.getElementById('linkButton').onclick = function() {
      linkHandler.open();
    };
    </script>
  </body>
</html>
