{% extends "layouts/base.html" %}
{% load i18n %}
{% block main_content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">

<div class="advisor-signin">
    <h1>Didn't receive confirmation instructions?</h1>

    <form  accept-charset="UTF-8" action="{{ app_path }}" method="post" id="login-form" class="simple_form new_advisor">{% csrf_token %}
     <p style="min-width: 400px">If you didn't receive an email with confirmation instructions, please enter the email address associated with your account to resend your confirmation instructions.</p>
      <br>
     <div class="form-inputs">
        <div class="input email optional advisor_email"><input autofocus="autofocus" class="string email optional" id="advisor_email" name="email" placeholder="Email" type="email" value=""></div>
     </div>

      <div class="form-actions">
        <input class="btn" data-disable-with="Sending ..." name="commit" type="submit" value="Send">
      </div>
    </form>

     <ul class="advisor-links">

    <li><a href="/login">Log in</a></li>

    <li><a href="/password/reset/">Forgot your password?</a></li>
     </ul>

</div>



<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}



