{% extends "layouts/base.html" %}
{% load i18n %}
{% block main_content %}

<div id="content-main">

<div class="advisor-signin">
    <h1>Password reset confirmation</h1>
    {% if validlink %}

    <form  accept-charset="UTF-8" action="{{ app_path }}" method="post" id="login-form" class="simple_form new_advisor">{% csrf_token %}
     <div class="form-inputs">
        <div class="input email optional advisor_email"><input autofocus="autofocus" class="string email optional" id="advisor_email" name="new_password1" placeholder="New password" type="password" value=""></div>
        {{ form.new_password1.errors }}
     </div>
        <div class="form-inputs">
        <div class="input email optional advisor_email"><input autofocus="autofocus" class="string email optional" id="advisor_email" name="new_password2" placeholder="Confirm new password" type="password" value=""></div>
        {{ form.new_password2.errors }}
     </div>

      <div class="form-actions">
        <input class="btn" data-disable-with="Sending ..." name="commit" type="submit" value="Send">
      </div>
    </form>
    {% else %}
         <form  accept-charset="UTF-8" action="{{ app_path }}" method="post" id="login-form" class="simple_form new_advisor">
    <p style="
    margin-left: 0px;
    margin-right: 0px;
    width: 350px;
    margin-top: 70px">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        </form>
    {% endif %}


</div>



<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}



