{% extends "layouts/base.html" %}
{% load i18n %}
{% block main_content %}

<div id="content-main">

<div class="advisor-signin">
    <h1>Forgot your password?</h1>

    <form  accept-charset="UTF-8" action="{{ app_path }}" method="post" id="login-form" class="simple_form new_advisor">{% csrf_token %}
        <p style="min-width: 400px;">If you forgot your password, please enter the email address associated with your account to reset your password.</p>
    <br>
     <div class="form-inputs">
        <div class="input email optional advisor_email"><input autofocus="autofocus" class="string email optional" id="advisor_email" name="email" placeholder="Email" type="email" value=""></div>
        {{ form.email.errors }}
     </div>

      <div class="form-actions">
        <input class="btn" data-disable-with="Sending ..." name="commit" type="submit" value="Send reset email">
      </div>
    </form>
     <ul class="advisor-links">

    <li><a href="/login">Log in</a></li>

    <li><a href="{% url 'confirmation' %}">Didn't receive confirmation instructions?</a></li>
     </ul>



</div>



<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}



