{% extends "layouts/base.html" %}
{% load i18n %}
{% block main_js %}{{STATIC_URL}}js/application-1782c815118e7220b74c97651eab3e9b.js{% endblock %}
{% block nav_clients %}depressed {% endblock %}
{% block body_class %}clients/invites_build show{% endblock %}
{% block main_content %}
<div class="client-invite client-invite-account-type">
<div class="header" style="padding-top: 25px; padding-bottom: 0px;">
   <a style="text-decoration: none;" href="/advisor/client/{{client.pk}}"><span class="modern-icon">›</span> back to client details</a>
</div>

    <h1>Open an Account for {{ client.full_name }}</h1>

    <p class="main-body">Select the account type you would like to open for your client.</p>

    <div class="split-view">
        <div class="account-type-selection">
            <form accept-charset="UTF-8" action="/advisor/client/{{ client.pk }}/account_invites" class="simple_form edit_client_invite" id="edit_client_invite_2028" method="get" novalidate="novalidate">
                <div class="input select optional client_invite_account_type"><label class="select optional control-label" for="client_invite_account_type">Account type</label><select class="select optional" id="client_invite_account_type" name="account_type"><option value="">Select Account Type</option>
                    <option value="joint_account">Personal Account</option>
                    <option value="trust_account">SMSF/Trust Account</option>
</select></div>
                <input class="btn submit" name="commit" type="submit" value="Continue" />
                
</form>        </div>

    </div>
</div>

{% endblock %}

