{% extends "layouts/base.html" %}
{% load app_filters %}
{% load i18n %}
{% load static from staticfiles %}
{% block main_js %}{% static 'js/application-1782c815118e7220b74c97651eab3e9b.js' %}{% endblock %}
{% block body_class %}clients/invites_build show {% endblock %}
{% block nav_clients %}depressed {% endblock %}
{% block main_content %}


<div class="client-invite client-invite-employment-financial-details">
    <div class="progress-header">
    <ul>
        <li class="">
            Select Account Process
        </li>
        <li class="">
            Select Account Type
        </li>
        <li class="depressed">
            Enter Client Details
        </li>
        <li class="">
            Confirm
        </li>
    </ul>
    <div class="progress-bar client-details"></div>
</div>

    <h1>Employment &amp; Financial Details (Optional)</h1>

    <p class="main-body">Enter your client's employment and financial details.</p>

    <form accept-charset="UTF-8" action="" class="simple_form edit_client_invite" id="edit_client_invite_2043" method="post" novalidate="novalidate"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="f+OhEeybRjmHIb7ZFYtoeeR3673n9+Zr7EvLkIeKf9I=" /></div>
        {% csrf_token %}
        <div>
            <div class="left">
                <div class="input select optional client_invite_employment_status">
                    <label class="select optional control-label" for="client_invite_employment_status">Employment Status</label>
                    {{ form.employment_status|add_class_id:"select optional, client_invite_employment_status" }}
                </div>
                <div class="input string optional client_invite_occupation">
                    <label class="string optional control-label" for="client_invite_occupation">Occupation</label>
                    <input class="string optional" id="client_invite_occupation" name="{{ form.occupation.name }}" value="{{ form.occupation.value|default:"" }}" type="text" />
                    <span class="error">{{ form.occupation.errors }}</span>
                </div>
                <div class="input string optional client_invite_employer">
                    <label class="string optional control-label" for="client_invite_employer">Employer</label>
                    <input class="string optional" id="client_invite_employer" name="{{ form.employer.name }}" value="{{ form.employer.value|default:"" }}" type="text" />
                    <span class="error">{{ form.employer.errors }}</span>
                </div>
                <div class="input string optional client_invite_estimated_household_income">
                    <label class="string optional control-label" for="client_invite_estimated_household_income">Estimated Household Income</label>
                    <input class="string optional" id="client_invite_estimated_household_income" name="{{ form.income.name }}" value="{{ form.income.value }}" type="text" />
                    <span class="error">{{ form.income.errors }}</span>

                </div>
                <div class="input string optional client_invite_estimated_investable_assets">
                    <label class="string optional control-label" for="client_invite_estimated_investable_assets">Estimated Investable Assets</label>
                    <input class="string optional" id="client_invite_estimated_investable_assets" name="{{ form.net_worth.name }}" value="{{ form.net_worth.value }}" type="text" />
                    <span class="error">{{ form.net_worth.errors }}</span>
                </div>
            </div>
            <div class="right">
                <div class="input radio_buttons optional client_invite_associated_with_broker_dealer">
                    <label class="radio_buttons optional control-label">Is your client employed by or associated with a broker dealer?</label>
                    <label class="radio">
                        <input checked="checked" class="radio_buttons optional" id="client_invite_associated_with_broker_dealer_true" name="associated_to_broker_dealer" type="radio" value="True" {% if form.associated_to_broker_dealer.value == True %}checked{% endif %}/>Yes {{ form.associated_to_broker_dealer.value}}</label>
                    <label class="radio">
                        <input class="radio_buttons optional" id="client_invite_associated_with_broker_dealer_false" name="associated_to_broker_dealer" type="radio" value="False" {% if form.associated_to_broker_dealer.value == False %}checked{% endif %}/>No</label>
                </div>
                <div class="input radio_buttons optional client_invite_associated_with_publicly_traded_company">
                    <label class="radio_buttons optional control-label">Is your client a 10% shareholder, director, or policy maker of a publicly traded company?</label>
                    <label class="radio"><input checked="checked" class="radio_buttons optional" id="client_invite_associated_with_publicly_traded_company_true" name="ten_percent_insider" type="radio" value="True" {% if form.ten_percent_insider.value == True %}checked{% endif %}/>Yes</label>
                    <label class="radio"><input class="radio_buttons optional" id="client_invite_associated_with_publicly_traded_company_false" name="ten_percent_insider" type="radio" value="False"  {% if form.ten_percent_insider.value == False %}checked{% endif %}  />No</label>
                </div>

                <div class="input radio_buttons optional client_invite_subject_to_backup_withholding">
                    <label class="radio_buttons optional control-label">Do your client hold a public office position?</label>
                    <label class="radio"><input checked="checked" class="radio_buttons optional" id="client_invite_subject_to_backup_withholding_true" name="public_position_insider" type="radio" value="True" {% if form.public_position_insider.value == True %}checked{% endif %} />Yes</label>
                    <label class="radio"><input class="radio_buttons optional" id="client_invite_subject_to_backup_withholding_false" name="public_position_insider" type="radio" value="False"  {% if form.public_position_insider.value == False %}checked{% endif %} />No</label>
                </div>

                <div class="input radio_buttons optional client_invite_subject_to_backup_withholding">
                    <label class="radio_buttons optional control-label">Is your client US citizen/person for the purpose of US Federal Income Tax?</label>
                    <label class="radio"><input checked="checked" class="radio_buttons optional" id="client_invite_subject_to_backup_withholding_true" name="us_citizen" type="radio" value="True" {% if form.us_citizen.value == True %}checked{% endif %} />Yes</label>
                    <label class="radio"><input class="radio_buttons optional" id="client_invite_subject_to_backup_withholding_false" name="us_citizen" type="radio" value="False"  {% if form.us_citizen.value == False %}checked{% endif %} />No</label>
                </div>

                </div>




        </div>
        <div class="controls">
            <input class="submit" name="commit" type="submit" value="Continue" />
        </div>
</form></div>

{% endblock %}



