{% extends "layouts_new/base.html" %}
{% load i18n %}
{% load humanize %}
{% load bootstrap3 %}
{% load filters %}


{% block main_content %}
  <div class="container">

    <div class="row">
      <div class="col-sm-9">
        <h3>Create group<h3>
      </div>
      <div class="col-sm-3 text-sm-right">
      </div>
    </div>

    <div class="row m-t">
      <div class="col-sm-6">
        <form method="post">
          {% csrf_token %}
          <input name="advisor" type="hidden" value="{{ profile.pk }}" />

          {% bootstrap_field form.name %}

          <button class="btn btn-primary" type="submit">Continue</button>

        </form>
      </div>
    </div>
  </div>

{% endblock %}
