{% extends "layouts_new/base.html" %}
{% load static from staticfiles %}
{% load i18n humanize filters pricing_plan %}
{% load i18n filters %}

{% block foot_js %}
  <script type="application/javascript" src="{% static "js/widgets.js" %}"></script>
{% endblock %}


{% block css %}
  <style>
    table.dataTable thead > tr > th {
      padding-left: 8px;
    }

  </style>
{% endblock %}

{% block main_content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
          <h3>
             <span class="icon {% if object.accounts.count == 1 %}icon-user{% else %}icon-users{% endif %}"></span>
            {{ object.name }}
          </h3>
      </div>
      <div class="col-sm-3 text-sm-right">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        {% include "advisor/partials/menu-composites.html" %}
      </div>
      {% if object.advisor == profile %}
      <div class="col-sm-3 text-sm-right">
        <div class="form-group">
          <a class="btn btn-primary-outline" href="{% url 'advisor:composites:edit' object.pk %}">Edit group</a>
        </div>
      </div>
      {%  endif %}
    </div>

    <div class="row">
      <div class="col-sm-6 m-b">
        <div class="statcard statcard-primary">
          <div class="p-a">
            <span class="statcard-desc">Total balance</span>
            <h2>
              {{ object.total_balance|currency }}
            </h2>
          </div>
        </div>
      </div>
      <div class="col-sm-6 m-b">
        <div class="statcard statcard-primary">
          <div class="p-a">
            <span class="statcard-desc">Total returns</span>
            <h2>
              {{ object.total_returns|percentage }}
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="table-responsive">
        <table class="table" id="accounts">
          <thead>
          <tr>
            <th>Account</th>
            <th>Pricing Plan</th>
            <th class="text-center" width="70">Login</th>
          </tr>
          </thead>
          <tbody>
          {% for item in accounts %}
            {% with account=item.account %}
            <tr>
              <td><strong>{{ account.name|upper }}</strong></td>
              <td>
                {{ account.primary_owner.my_pricing_plan|display:"total" }}
              </td>
              <td class="text-center"><a
                  href="{% url "client:page" account.primary_owner.id %}"
                  class="btn btn-primary-outline btn-xs"
                  target="_blank">Login</a></td>
            </tr>
            <tr>
              <td colspan="3">
                {% if item.formset %}
                  {% with formset=item.formset %}
                    {% include "partials_new/formset-portfoliosets.html" %}
                  {% endwith %}
                {% else %}
                  <p class="text-center text-danger">
                    {{ account.name }} has no goals.
                  </p>
                {% endif %}
              </td>
            </tr>
            {% endwith %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}
