{% extends "layouts_new/base.html" %}
{% load i18n %}
{% load filters %}


{% block main_content %}
  <div class="container">
    <div>
      {% include "advisor/partials/menu-support.html" %}
    </div>

    <div class="row m-t">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">General forms</div>
          <table class="table">
            <tbody>
              <tr>
                <td width="1%"><span class="icon icon-archive"></span></td>
                <td><a target="_blank" href="{% url 'advisor:support-forms:transfer-single' %}">Single client transfer [Same firm]</a></td>
              </tr>
              <tr>
                <td width="1%"><span class="icon icon-archive"></span></td>
                <td><a target="_blank" href="{% url 'advisor:support-forms:transfer-bulk' %}">Bulk client transfer [Same firm]</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
