/**
 * Plugin Name: Tooltip CK
 * Plugin URI: http://www.wordpressck.com
 * Description: Tooltip CK allows you to put some nice tooltip effects into your content.
 * Version: 1.0.0
 * Author: Cédric KEIFLIN
 * Author URI: http://www.wordpressck.com
 * License: GPL2
 */
span.infotip {
	z-index: 50000;
}

span.infotip span.tooltipck_tooltip {
	position: absolute;
	/*left:-999em;*/
	z-index : 60000;
    display : none;
}

span.infotip:hover span.tooltipck_tooltip {
	/*left: auto;*/
}

span.infotip span.tooltipck_inner {
	display : block;
}


