{% extends "layouts_new/base.html" %}
{% load i18n %}
{% load i18n bootstrap3 filters %}


{% block main_content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
          <h3>{{ client.full_name }}</h3>
      </div>
      <div class="col-sm-3 text-sm-right">
        <div class="form-group">
          <a class="btn btn-primary-outline" href="{% url 'client:page' client.pk %}" target="_blank">Login</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 m-b">
        <div class="statcard statcard-primary">
          <div class="p-a">
            <span class="statcard-desc">Total balance</span>
            <h2>
              {{ client.total_balance|currency }}
            </h2>
          </div>
        </div>
      </div>
      <div class="col-sm-6 m-b">
        <div class="statcard statcard-primary">
          <div class="p-a">
            <span class="statcard-desc">Total returns</span>
            <h2>
              {{ client.total_earnings|currency }}
            </h2>
          </div>
        </div>
      </div>
    </div>

    <!-- TODO: add sorting by table columns -->
    <div class="panel panel-default">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Account Type</th>
              <th>Account Name</th>
              <th>Status</th>
              <th>Balance</th>
              <th>Returns</th>
              <th>Fees</th>
              <th>Group</th>
            </tr>
          </thead>
          <tbody>
            {% for account in client.accounts.all %}
              <tr>
                <td>{{ account.account_type_name }}</td>
                <td>{{ account.name }}</td>
                <td>{% if account.on_track %}<span style='color:green;'>On Track</span>{% else %}<span style='color:red;'>Off Track</span>{% endif %}</td>
                <td>{{ account.total_balance|currency }}</td>
                <td>{{ account.total_earnings|currency }}</td>
                <td>{{ account.custom_fee|currency }}</td>
                <td>
                  {% if account.account_group %}
                    <a href="{% url 'advisor:composites:detail' account.account_group.pk %}">
                      {{ account.account_group.name }}
                    </a>
                  {% else %}
                    &nbsp;None
                  {% endif %}
                </td>
              </tr>
             {% empty %}
              <tr>
                <td colspan="5" class="text-center">
                  No entries
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="row m-t">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">Personal information</div>
          <table class="table">
            <tbody>
              <tr>
                <td>Member since</td>
                <td>{{ client.user.date_joined|date:'d-M-y' }}</td>
              </tr>
              <tr>
                <td>Date of birth</td>
                <td>{{ client.date_of_birth|date:'d-M-Y' }}</td>
              </tr>
              <tr>
                <td>Age</td>
                <td>{{ client.age }}</td>
              </tr>
              <tr>
                <td>Address</td>
                <td>{{ client.residential_address }}</td>
              </tr>
              <tr>
                <td>Phone</td>
                <td>{{ client.phone_num }}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td><a href="mailto:{{ client.user.email }}">{{ client.user.email }}</a></td>
              </tr>
              <tr class="tr-middle">
                <td>Access Level</td>
                <td>
                  <form method="post">
                    <div class="row">
                      <div class="col-xs-6">
                        {% csrf_token %}
                        {% bootstrap_field form.access_level show_label=False size='small' form_group_class='' %}
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">Employment and income</div>
          <table class="table">
            <tbody>
              <tr>
                <td>Employment status</td>
                <td>{{ client.get_employment_status_display|default:'-' }}</td>
              </tr>
              <tr>
                <td>Industry Sector</td>
                <td>{{ client.get_industry_sector_display|default:'-' }}</td>
              </tr>
              <tr>
                <td>Occupation</td>
                <td>{{ client.get_occupation_display|default:'-' }}</td>
              </tr>
              <tr>
                <td>Employer</td>
                <td>{{ client.employer|default:'-' }}</td>
              </tr>
              <tr>
                <td>Annual income</td>
                <td>{{ client.income|currency }}</td>
              </tr>
              <tr>
                <td>Liquid net worth</td>
                <td>{{ client.net_worth|currency }}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
{% endblock %}

{% block foot_js %}
  <script type="text/javascript">
    $(function() {
      $('[name=access_level]').on('change', function() {
        $(this).get(0).form.submit();
      })
    })
  </script>
{% endblock %}
