{% extends "layouts_new/base.html" %}
{% load i18n filters %}
{% load static from staticfiles %}

{% block css %}
  <style>
    table.dataTable thead > tr > th {
      padding-left: 8px;
    }

  </style>
{% endblock %}

{% block foot_js %}
<script type="application/javascript" src="{% static "js/widgets.js" %}"></script>
<script type="application/javascript">
  $(function () {
    betasmartz.widgets.searchTable("#clientList", "#search", {
      noSort: [6],
      noSearch: [6],
      dropdown: ["#accountTypeFilter", 4]
    });
  });
</script>
{% endblock %}


{% block main_content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div>
          {% include "advisor/partials/menu-clients.html" %}
        </div>
      </div>
      <div class="col-sm-3 text-sm-right">
        <div class="form-group">
          <a class="btn btn-primary-outline" href="{% url 'advisor:clients:invites-new' %}">Invite client</a>
        </div>
      </div>
    </div>

    <div class="row">
      <form>
        <div class="col-sm-4">
          <div class="form-group">
            <select id="accountTypeFilter" class="form-control">
                <option value="">All</option>
                <option value="primary">Primary</option>
                <option value="secondary">Secondary</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><span class="icon icon-magnifying-glass"></span></span>
              <input type="search" placeholder="Filter clients" id="search"
                     class="form-control" aria-describedby="search">
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="panel panel-default">
      <div class="table-responsive">
        <table class="table" id="clientList">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Status</th>
              <th>Total balance</th>
              <th>Email</th>
              <th>Advisor relationship</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {% for client in clients %}
              <tr onclick="window.location='{% url 'advisor:clients:detail' client.0 %}'">
                <td>{{ client.0 }}</td>
                <td>
                  <div><a href="{% url 'advisor:clients:detail' client.0 %}">{{ client.1 }} <i class="fa fa-external-link"></i></a></div>
                </td>
                <td>{% if client.2 %}<span style='color:green;'>On Track</span>{% else %}<span style='color:red;'>Off Track</span>{% endif %}</td>
                <td>{{ client.3|currency }}</td>
                <td><a href="mailto:{{ client.4 }}">{{ client.4 }}</a></td>
                <td>{{ client.5 }}</td>
                <td class="text-right">
                  <a href="{% url "client:page" client.0 %}" class="btn btn-primary-outline btn-xs" target="_blank">Login</a>
                </td>
              </tr>
             {% empty %}
              <tr>
                <td colspan="4" class="text-center">
                  No entries
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
