{% extends "layouts/base.html" %}
{% load i18n %}
{% block main_content %}


    <div id="content-main">

<div class="advisor-signin">
    <h1>Adviser sign up</h1>
    <form  accept-charset="UTF-8" action="{{ app_path }}" method="post" id="login-form" class="simple_form new_advisor">
        {% csrf_token %}
     <div class="form-inputs">
         {% for field in form %}
            <div class="input optional">
                {{ field.label_tag }} {{ field }}  {{ field.errors }}
            </div>
        {% endfor %}
      </div>

      <div class="form-actions">
        <input class="btn" data-disable-with="Signup in..." name="commit" type="submit" value="Sign up">
      </div>
    </form>



</div>



<script type="text/javascript">
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2012"
      // You can put more options here.

    });
  });
  </script>
</div>
{% endblock %}



