{% load static from staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>

    
    <title>Powered by BetaSmartz</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=1100" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'images/favicon.ico' %}">

    <!--[if lte IE 8]>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/json2/20150503/json2.min.js"></script>
    <![endif]-->

    <!-- Do not add any more styles here, this is the output of compiling all styles together -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/client/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/client/multi-allocation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/client/tiny-toggle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tinymce_4/tinymce/plugins/fontawesome/css/font-awesome.min.css' %}">




</head>

<body class="advised-user">
    <div id="fb-root"></div>

    <div class="session-banner performer">
        <h1>Performer</h1>
    </div>

    <div class="session-banner advisor">
        <h1>You are logged in as your client</h1>
    </div>

    <header>
        <div class="header-wrapper">
            <div id="header-logo"></div>
            <div id="subnav"></div>
            <div id="popover-region"></div>
        </div>
    </header>

    <nav id="tabBar">

    </nav>

    <div class="clearfix" style="position: relative;">
        <div id="flyoverRegion"></div>

        <div id="flash-placeholder"></div>
        <div class="ribbon-drawer"></div>
        <div id="secondaryContent">
            <div id="bankAccountBanner"></div>
            <div id="trustDocumentsBanner"></div>
            <div id="jointAccountInviteBanner"></div>
            <div id="retirementPlanBanner"></div>
            <div id="relinkBankBanner"></div>
            <div id="depositAfterSignupBanner"></div>
        </div>

        <section id="mainContent">
            <div class="initial-loader">
                <svg class="svg-circle-spinner" viewBox="0 0 70 70">
                    <circle cx="35" cy="35" r="20" stroke-width="2.5" class="loading-spinner"></circle>
                </svg>
                <div class="speedometer-for-ie"></div>
            </div>
        </section>

        <section id="unboundedContent"></section>
        <section id="railsContent"></section>

        <div class="page-loader"></div>
    </div>
    <section id="footerLinks"></section>
    <footer class="fine-print">
        <section class="disclosure clearfix">
            <div class="powered-by">Powered by</div>
            <figure class="logo"></figure>
            <figcaption>&copy; BetaSmartz Pty Ltd </figcaption>
            <p class="pad">By initiating transactions in your BetaSmartz account you agree to BetaSmartz's <a href="http://www.betasmartz.com/terms-and-conditions/">Terms & Conditions</a>.
                <a href="https://ssl.comodo.com" style="margin-left: 380px;"><img src="https://www.comodo.com/images/ssl-banners-index/comodossl-trustlogo1.jpg" alt="SSL Certificate" width="40" height="30" style="border: 0px;"></a>

            </p>
            <p><strong>This website is operated and maintained by BetaSmartz Pty Ltd, AFSL No. 888888.</strong></p>
            <p>Brokerage services provided to clients of BetaSmartz by Interactive Brokers LLC, AFSL 245574.</p>
            <p class="pad">Investments: Not Insured  &bull; No Bank Guarantee  &bull; May Lose Value. Investing in securities involves risks, and the income derived from them can go down as well as up. Past performance is not a reliable indicator of future returns and you may not get back your original investment, all investment outcomes being hypothetical in nature. Before investing, consider your investment objectives and BetaSmartz's charges and expenses. See full disclosures for more information. Not an offer, solicitation of an offer, or advice to buy or sell securities in jurisdictions where BetaSmartz is not registered.</p>
            <p>BetaSmartz is a trademark of BetaSmartz Pty Ltd.</p>

        </section>
    </footer>

    <div id="pixels">
    </div>

    <div class="dummy-modal-container"></div>
    <div class="modals-region"></div>
    <div class="feed-container"></div>

    <div id="remoteModal" class="modal modal-new">
    </div>


    <script type="text/template" id="defaultConfirmationModal">
        <div class="modal-panel">
            <div>
                <h1>Are you sure?</h1>
                <div class="modal-body message"></div>
                <div class="modal-buttons">
                    <button class="ok" data-dismiss="modal">OK</button>
                    <button class="cancel" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </script>

    <script>
        window.BMTVersion = '1';
    </script>

            <script src="{% static 'js/client/app.js' %}"></script>
            <script src="{% static 'js/client/multi-allocation.js' %}"></script>
            <script src="{% static 'js/client/tiny-toggle.js' %}"></script>
            <script>window.dataLayer = [];</script>
    
    </body>
</html>
