{% load i18n %}
{% load filters %}


<li class="{{ request.resolver_match.view_name|menu_active:'advisor:overview, advisor:composites:detail, advisor:composites:create, advisor:composites:edit, advisor:composites:detail-clients, advisor:composites:detail-secondary-advisors, advisor:composites:detail-secondary-advisors-create' }}">
  <a href="{% url 'advisor:overview' %}">{% trans 'Overview' %}</a>
</li>
<li class="{{ request.resolver_match.view_name|menu_active:'advisor:clients:list, advisor:clients:invites, advisor:clients:invites-new, advisor:clients:invites-create-confirm, advisor:clients:invites-create-account-type, advisor:clients:invites-create-financial-details, advisor:clients:invites-create-personal-details, advisor:clients:detail, advisor:clients:account-invites, advisor:clients:account-invites-create, advisor:clients:account-invites-profile, advisor:clients:accountsdetail' }}">
  <a href="{% url 'advisor:clients:list' %}">{% trans 'Clients' %}</a>
</li>
<li class="{{ request.resolver_match.view_name|menu_active:'advisor:agreements' }}">
  <a href="{% url 'advisor:agreements' %}">{% trans 'Agreements' %}</a>
</li>
<li class="{{ request.resolver_match.view_name|menu_active:'advisor:support, advisor:support-forms:list, advisor:support-forms:change-firm, advisor:support-forms:transfer-single, advisor:support-forms:transfer-bulk, advisor:support-getting-started' }}">
  <a href="{% url 'advisor:support' %}">{% trans 'Support' %}</a>
</li>
