<div class="row equal">

				<div class="col six">
					<div class="icon-circle">
                        <table>
                            <tbody>
                            <tr><td><span class="fa fa-retweet"></span></td></tr>
                            <tr><td><h3 class="h5">Automated Back Office</h3></td></tr>
                            <tr><td><p>We automate all the time-consuming, mundane tasks for you including trading, rebalancing, account opening, and portfolio management.</p></td></tr>
                            </tbody>
                        </table>


					</div>
				</div>


				<div class="col six">
					<div class="icon-circle">


                        <table>
                            <tbody>
                            <tr><td><span class="fa fa-retweet"></span></td></tr>
                            <tr><td><h3 class="h5">Automated Back Office</h3></td></tr>
                            <tr><td><p>We automate all the time-consuming, mundane tasks for you including trading, rebalancing, account opening, and portfolio management.</p></td></tr>
                            </tbody>
                        </table>
					</div>
				</div>



		</div>