<div class="row equal">
    <div class="col four">
					<div class="icon-nav">
                    <table>
                        <tbody>
                    <tr><td><span class="fa fa-briefcase"></span></td></tr>
                    <tr><td><p><b>Scale Your Practice</b></p></td></tr>
                    <tr><td><p>Stop running software that wasn’t designed to work together. Put an end to custom reports and manual rebalancing.</p></td></tr>
                    </tbody>
                    </table>






					</div>
				</div>


    <div class="col four" >
					<div class="icon-nav">
                    <table>
                        <tbody>
                    <tr><td><span class="fa fa-briefcase"></span></td></tr>
                    <tr><td><p><b>Scale Your Practice</b></p></td></tr>
                    <tr><td><p>Stop running software that wasn’t designed to work together. Put an end to custom reports and manual rebalancing.</p></td></tr>
                    </tbody>
                    </table>






					</div>
				</div>

        <div class="col four" >
					<div class="icon-nav">
                    <table>
                        <tbody>
                    <tr><td><span class="fa fa-briefcase"></span></td></tr>
                    <tr><td><p><b>Scale Your Practice</b></p></td></tr>
                    <tr><td><p>Stop running software that wasn’t designed to work together. Put an end to custom reports and manual rebalancing.</p></td></tr>
                    </tbody>
                    </table>






					</div>
				</div>
		</div>