<div class="row equal">


    <div class="col three medium-six small-twelve" >
        <div class="icon-circle">

            <table>
                <tbody>
                    <tr><td> <span style="font-size: 72px; color: #99cc00" class="fa fa-file-o"></span></td></tr>
                    <tr><td> <h3 class="h5">Branded Statements</h3></td></tr>
                    <tr><td><p>Statements and other client documents are branded with your logo.</p></td></tr>
                </tbody>
            </table>




        </div>
    </div>
    <div class="col three medium-six small-twelve" >
        <div class="icon-circle">

<table>
                <tbody>
                    <tr><td> <span style="font-size: 72px; color: #99cc00" class="fa fa-file-o"></span></td></tr>
                    <tr><td> <h3 class="h5">Branded Statements</h3></td></tr>
                    <tr><td><p>Statements and other client documents are branded with your logo.</p></td></tr>
                </tbody>
            </table>



        </div>
    </div>
    <div class="col three medium-six small-twelve" >
        <div class="icon-circle">


        <table>
                <tbody>
                    <tr><td> <span style="font-size: 72px; color: #99cc00" class="fa fa-file-o"></span></td></tr>
                    <tr><td> <h3 class="h5">Branded Statements</h3></td></tr>
                    <tr><td><p>Statements and other client documents are branded with your logo.</p></td></tr>
                </tbody>
            </table>



        </div>
    </div>
    <div class="col three medium-six small-twelve">
        <div class="icon-circle">


           <table>
                <tbody>
                    <tr><td> <span style="font-size: 72px; color: #99cc00" class="fa fa-file-o"></span></td></tr>
                    <tr><td> <h3 class="h5">Branded Statements</h3></td></tr>
                    <tr><td><p>Statements and other client documents are branded with your logo.</p></td></tr>
                </tbody>
            </table>

        </div>
    </div>

</div>